/* purgecss start ignore */
@import "tailwindcss/base";
/* purgecss end ignore */

@import "tailwindcss/components";

@import "tailwindcss/utilities";

main {
  @apply w-full px-24;
}

.navbar {
  @apply flex justify-between pt-8 px-24;
}

.footer {
  @apply text-2xl text-center;
}

.footer svg {
  @apply w-10 mr-6 mt-4;
}

.footer svg:last-of-type {
  @apply mr-0;
}

.footer a {
  border-radius: 20px;
  padding: 10px 50px;
  border: 3px solid #5d5d5d;
  color: #5d5d5d;
  font-size: 20px;
}

.footer .icons {
  @apply flex justify-center mb-16;
}

input,
textarea {
  @apply border-2 w-full mb-4;
}

button {
  @apply bg-gray-800 w-full text-white px-4 py-2;
}

label {
  @apply block;
}

.links ul li {
  @apply float-left pl-10 pt-4;
}

svg {
  width: 50px;
}

svg .logo-red,
svg .logo-black1,
svg .logo-black2 {
  transition: fill 0.7s ease;
}

svg:hover {
  cursor: pointer;
}

svg:hover .logo-red {
  fill: #ab3030;
  transition: fill 0.7s ease;
}

svg:hover .logo-black1,
svg:hover .logo-black2 {
  fill: #da4343;
  transition: fill 0.7s ease;
}

.portfolio-container {
  @apply flex;
}

.portfolio-grid {
  @apply mb-24;
}

.portfolio-container h2 {
  @apply text-lg;
}

.portfolio-container p {
  @apply text-sm;
}

.portfolio-item-left img, .portfolio-item-right img {
  @apply w-3/4 mx-auto mt-10 mb-5;
}

.portfolio-item-left {
  @apply w-full mr-1 mb-2 text-center;
  background-color: #fcd6d6;
}

.portfolio-item-right {
  @apply w-full ml-1 mb-2 text-center;
  background-color: #fcd6d6;
}

.inner {
  @apply p-12;
}

.banner h1 {
  @apply text-4xl text-center py-32;
}

.social-icon {
  font-size: 40px;
}

.contact {
  height: 75vh;
  @apply flex w-full justify-center items-center;
}

.contact form {
  width: 500px;
}