/* purgecss start ignore */
@import "tailwindcss/base";
/* purgecss end ignore */

@import "tailwindcss/components";

@import "tailwindcss/utilities";

h1 {
  @apply text-4xl mb-3 text-center;
}

main {
  @apply w-full px-24;
}

/* ------------------------------------------------------ */

/* START OF FORMS */

input,
textarea {
  @apply border-2 border-lightGray w-full mb-6;
}

input {
  height: 50px;
}

textarea {
  height: 150px;
}

button {
  @apply w-full text-white py-4;
  background-color: #5d5d5d;
}

label {
  @apply block text-lg font-bold mb-3;
}
/* END OF FORMS */

/* ------------------------------------------------------ */

/* START OF SVG */

svg {
  width: 50px;
}

svg .logo-red,
svg .logo-black1,
svg .logo-black2 {
  transition: fill 0.7s ease;
}

svg:hover {
  cursor: pointer;
}

svg:hover .logo-red {
  fill: #ab3030;
  transition: fill 0.7s ease;
}

svg:hover .logo-black1,
svg:hover .logo-black2 {
  fill: #da4343;
  transition: fill 0.7s ease;
}
/* END OF SVG */

/* ------------------------------------------------------ */

/* START OF PORTFOLIO ITEM */
.portfolio-container {
  @apply mt-8 grid grid-cols-3 gap-5 mb-32;
}

.portfolio-item img {
  @apply w-full mx-auto;
}

.portfolio-item {
  @apply w-full mb-2;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.portfolio-item .category {
  @apply text-darkGray flex justify-between px-6 pt-8 mb-8;
}

.portfolio-item .category .left,
.portfolio-item .category .right {
  @apply text-xs;
}

.portfolio-item .category span {
  font-family: "Inter-SemiBold";
}

.portfolio-item img {
  @apply py-2;
}

.portfolio-item .portfolio-header {
  @apply px-6 text-2xl mb-4;
}

.portfolio-item .portfolio-description {
  @apply px-6 text-sm mb-8;
}

.portfolio-item .bottom-container {
  @apply px-6 pb-8;
}

.portfolio-item .bottom-container .bottom {
  @apply text-xs text-darkGray;
}
/* END OF PORTFOLIO ITEM */

/* ------------------------------------------------------ */

/* START OF FOOTER */
.footer {
  @apply text-2xl text-center;
}

.footer svg {
  @apply w-8 mr-10 mt-10 mb-16;
}

.footer svg:last-of-type {
  @apply mr-0;
}

.footer svg path {
  transition: fill 0.7s ease;
}

.footer svg:hover path{
  fill: #da4343;
  transition: fill 0.7s ease;
}

.footer .icons {
  @apply flex justify-center;
}
/* END OF FOOTER */

/* ------------------------------------------------------ */

/* START OF BANNER */
.banner {
  @apply my-32 w-3/4 mx-auto;
}

.banner .employment-status {
  font-family: "Inter-SemiBold";
  color: #a5a5a5;
}

.banner h1 {
  @apply text-3xl text-left mb-4 mt-4;
}
/* END OF BANNER */

/* ------------------------------------------------------ */

/* START OF COLORS */

.lightRed {
  @apply bg-lightRed;
}

.teal {
  @apply bg-teal;
}

.blue {
  @apply bg-blue;
}

.lightPurple {
  @apply bg-lightPurple;
}

.pink {
  @apply bg-pink;
}

.lightYellow {
  @apply bg-lightYellow;
}
/* END OF COLORS */

/* ------------------------------------------------------ */

/* START OF CONTACT */

.contact-container {
  @apply bg-contactForm p-24 w-3/4 mb-24 mx-auto;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.contact-container form {
  @apply w-3/4 mx-auto;
}

/* END OF CONTACT */

/* ------------------------------------------------------ */

/* START OF NAVBAR */
header {
  @apply pt-8 px-24;
  overflow: hidden;
}

header a,
header label {
  display: block;
  text-decoration: none;
  line-height: 20px;
  transition: color 0.7s ease;
}

header a:hover,
header label:hover {
  color: #da4343;
  transition: color 0.7s ease;
}

header label {
  float: right;
  cursor: pointer;
  margin-bottom: 0px;
}

header label:after {
  content: "\2261";
  font-size: 3.5em;
}

.logo {
  float: left;
}

nav {
  float: right;
  max-height: 0;
  width: 100%;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

nav ul {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

nav li {
  display: block;
  text-align: left;
  padding-top: 40px;
}

nav a {
  width: 100%;
}

#nav {
  display: none;
}

#nav:checked ~ nav {
  max-height: 200px; /* This can be anything bigger than your nav height. The transition duration works with this */
}
/* END OF NAVBAR */

/* ------------------------------------------------------ */

/* START OF MEDIA QUERIES */

@media (max-width: 1024px) {
  .portfolio-container {
    @apply grid-cols-2;
  }

  .navbar,
  main,
  header {
    @apply px-12;
  }
}

@media (max-width: 768px) {
  .portfolio-container {
    @apply grid-cols-1;
  }

  .navbar,
  main,
  header {
    @apply px-24;
  }

  main {
    @apply px-24;
  }

  .banner {
    @apply w-full;
  }
}

@media (min-width: 575px) {
  header label {
    display: none;
  }

  nav {
    width: auto;
    max-height: none;
  }

  nav ul {
    padding: 0;
    padding-left: 10px;
  }

  nav li {
    display: inline-block;
    text-align: left;
    padding-top: 15px;
  }

  header nav a {
    display: inline-block;
    padding-left: 30px;
    width: auto;
  }
}
/* END OF MEDIA QUERIES */

/* ------------------------------------------------------ */
