/* purgecss start ignore */
@import "tailwindcss/base";
/* purgecss end ignore */

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/Inter-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("/fonts/Inter-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Black";
  src: url("/fonts/Inter-Black.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url("/fonts/Inter-ExtraBold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("/fonts/Raleway-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Raleway-Regular";
}

h1,h2,h3 {
  font-family: "Inter-Bold"
}

main {
  @apply w-full px-40;
}

.navbar {
  @apply flex justify-between py-8 px-40;
}

input,
textarea {
  @apply border-2 w-full mb-4;
}

button {
  @apply bg-gray-800 text-white px-4 py-2;
}

label {
  @apply block;
}

.links ul li {
  @apply float-left pl-10 pt-4;
}

svg {
  width: 50px;
}

svg .logo-red,
svg .logo-black1,
svg .logo-black2 {
  transition: fill 0.7s ease;
}

svg:hover {
  cursor: pointer;
}

svg:hover .logo-red {
  fill: #ab3030;
  transition: fill 0.7s ease;
}

svg:hover .logo-black1,
svg:hover .logo-black2 {
  fill: #da4343;
  transition: fill 0.7s ease;
}

.portfolio-container {
  @apply flex;
}

.portfolio-container h2 {
  @apply text-lg;
}

.portfolio-container p {
  @apply text-sm;
}

.portfolio-item-left img, .portfolio-item-right img {
  @apply w-3/4 mx-auto mt-10 mb-5;
}

.portfolio-item-left {
  @apply w-full bg-gray-400 mr-1 mb-2 text-center;
  background-color: #fcd6d6;
}

.portfolio-item-right {
  @apply w-full bg-gray-400 ml-1 mb-2 text-center;
  background-color: #fcd6d6;
}

.inner {
  @apply p-12;
}
